<%- include("../partials/head") %>
</head>
<body class="bg-gray-100 text-gray-900">
<%- include('../partials/navbar') %>
<body class=" flex items-center justify-center h-screen">
    <div class="text-center mt-6">
        <h1 class="text-4xl font-bold text-red-500">Bookings</h1>
        <p class=" mt-4">Welcome to the booking page! Please proceed with your reservation.</p>
    </div>
</body>
</html>